<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Driving Lesson Scheduled!</title>
  <style>
    .email-wrapper {
        width: 100%;
        cellspacing: 0;
        cellpadding: 0;
        border: 0;
    }
    .email-container {
        cellspacing: 0;
        cellpadding: 0;
        border: 0;
    }
  </style>
</head>
<body>
<table class="email-wrapper">
  <tr>
    <td align="center">
      <table class="email-container">
        <tr>
          <td class="email-header">

          </td>
        </tr>
      </table>
    </td>
    <td class="email-header">
      <img src="https://cdn-icons-png.flaticon.com/512/2972/2972149.png" alt="logo" width="80">
      <h1>Auto Escola N116</h1>
      <p>Sistema de Notificações Automáticas</p>
    </td>
  </tr>

  <tr>
    <td>
      <img class="main-image"
           src="https://png.pngtree.com/png-vector/20191022/ourlarge/pngtree-man-in-driving-school-vector-training-car-successful-pass-exam-learning-png-image_1841795.jpg"
           alt="Man in driving car">
    </td>
  </tr>
</table>
</body>
</html>